.header {
  height: 80px;
  max-width: 1440px;
  color: #fff;
  background-color: #29669d;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 32px;
    font-weight: 400;
  }
}
